# Introduction to the Dataset

In [1]:
csv_list = open("US_births_1994-2003_CDC_NCHS.csv").read()
csv_list = csv_list.split('\n')
csv_list[:10]

['year,month,date_of_month,day_of_week,births',
 '1994,1,1,6,8096',
 '1994,1,2,7,7772',
 '1994,1,3,1,10142',
 '1994,1,4,2,11248',
 '1994,1,5,3,11053',
 '1994,1,6,4,11406',
 '1994,1,7,5,11251',
 '1994,1,8,6,8653',
 '1994,1,9,7,7910']

# Converting Data Into A List Of Lists

In [2]:
def read_csv(filename):
    string_list = open(filename).read()
    string_list = string_list.split('\n')
    string_list = string_list[1:]
    final_list = []
    for item in string_list:
        int_fields = []
        string_fields = item.split(',')
        string_fields = [int(line) for line in string_fields]
        for x in string_fields:
            int_fields.append(x)
        final_list.append(int_fields)
    return(final_list)

cdc_list = read_csv('US_births_1994-2003_CDC_NCHS.csv')
cdc_list[:10]

[[1994, 1, 1, 6, 8096],
 [1994, 1, 2, 7, 7772],
 [1994, 1, 3, 1, 10142],
 [1994, 1, 4, 2, 11248],
 [1994, 1, 5, 3, 11053],
 [1994, 1, 6, 4, 11406],
 [1994, 1, 7, 5, 11251],
 [1994, 1, 8, 6, 8653],
 [1994, 1, 9, 7, 7910],
 [1994, 1, 10, 1, 10498]]

# Calculating Number Of Births per Month

In [3]:
def month_births(lol):
    births_per_month = {}
    for line in lol:
        if line[1] in births_per_month:
            births_per_month[line[1]] = births_per_month[line[1]]+line[4]
        else:
            births_per_month[line[1]] = line[4]
    return(births_per_month)

cdc_month_births = month_births(cdc_list)
cdc_month_births

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

# Calculating Number Of Births Each Day Of Week

In [4]:
def dow_births(data):
    births_per_day = {}
    for line in data:
        dow = line[3]
        births = line[4]

        if dow in births_per_day:
            births_per_day[dow] = births_per_day[dow] + line[4]
        else:
            births_per_day[dow] = line[4]
    return(births_per_day)
cdc_day_births = dow_births(cdc_list)

In [5]:
cdc_day_births

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

# Creating A More General Function

In [6]:
def calc_counts(data, column):
# returns a dictionary containing the total number of births
# for each unique value in column 
    totals_dict = {}
    for line in data:
        col_value = line[column]
        if col_value in totals_dict:
            totals_dict[col_value] += line[4]
        else:
            totals_dict[col_value] = line[4]           
    return totals_dict 

cdc_year_births = calc_counts(cdc_list, 0)
cdc_month_births = calc_counts(cdc_list, 1)
cdc_dom_births = calc_counts(cdc_list, 2)
cdc_dow_births = calc_counts(cdc_list, 3)

In [7]:
cdc_year_births

{1994: 3952767,
 1995: 3899589,
 1996: 3891494,
 1997: 3880894,
 1998: 3941553,
 1999: 3959417,
 2000: 4058814,
 2001: 4025933,
 2002: 4021726,
 2003: 4089950}

In [8]:
cdc_month_births

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

In [9]:
cdc_dom_births

{1: 1276557,
 2: 1288739,
 3: 1304499,
 4: 1288154,
 5: 1299953,
 6: 1304474,
 7: 1310459,
 8: 1312297,
 9: 1303292,
 10: 1320764,
 11: 1314361,
 12: 1318437,
 13: 1277684,
 14: 1320153,
 15: 1319171,
 16: 1315192,
 17: 1324953,
 18: 1326855,
 19: 1318727,
 20: 1324821,
 21: 1322897,
 22: 1317381,
 23: 1293290,
 24: 1288083,
 25: 1272116,
 26: 1284796,
 27: 1294395,
 28: 1307685,
 29: 1223161,
 30: 1202095,
 31: 746696}

In [10]:
cdc_dow_births

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}